.moreButton {
  height: 28px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.createButton {
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.moreButton:hover {
  background: lightgray;
  border-radius: 0px 17px 17px 0px;
}

.createButton:hover {
  background: lightgray;
  border-radius: 0px 17px 17px 0px;
  cursor: pointer;
}

.createDirectoryLogo {
  padding-left: 5px;
  padding-right: 5px;
}

.moreLogo {
  padding-left: 5px;
  padding-right: 5px;
}
