.logo {
  font-size: 122px;
  left: 30px;
  position: absolute;
}

.upperPanel {
  top: 30px;
  width: 500px;
  height: 22px;
}

.inputSearch {
  left: 226px;
  top: 30px;
  width: 500px;
  height: 25px;
  position: absolute;
}

.clearQuerySearchButton {
  position: absolute;
  top: 37px;
  left: 715px;
  cursor: pointer;
}
